<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.mpmail" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MPmail</name>
    <description>
        A sample Apache Cordova & Polymer application.
    </description>
    <author email="williamsena13@gmail.com" href="https://github.com/williamsena13">
        Beto Muniz
    </author>
    <platform name="ios">
        <!-- Icons -->
        <icon src="sources/images/icons/icon-60@3x.png" width="180" height="180" />
        <icon src="sources/images/icons/icon-60.png" width="60" height="60" />
        <icon src="sources/images/icons/icon-60@2x.png" width="120" height="120" />

        <!-- Splash Screens -->
        <splash src="sources/images/splashes/Default~iphone.png" width="320" height="480"/>
        <splash src="sources/images/splashes/Default@2x~iphone.png" width="640" height="960"/>
        <splash src="sources/images/splashes/Default-568h@2x~iphone.png" width="640" height="1136"/>
    </platform>
    <content src="index.html" />
    <access origin="*" />
</widget>
