body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

core-scaffold::shadow core-toolbar {
  background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/45/New_Logo_Gmail.svg);
  background-color:  #e51c23;
  background-repeat: no-repeat;
  background-position: 96% 15px;
  transition: all 0.4s ease;
}
core-scaffold::shadow core-toolbar.tall {
  background-color:  #e51c23;
  background-position: 96% 65px;
}
core-scaffold::shadow core-header-panel {
  background-color: #fff;
}

/* Profile */
.profile-photo {
  width: 100%;
  height: 192px;
  display: block;
  overflow: hidden;
  margin: 0 0 15px;
}
.profile-photo img {
  width: 100%;
  display: block;
  position: relative;
  top: -25px;
}
.profile-infos {
  position: absolute;
  top: 140px;
  left: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
}
.profile-infos span {
  display: block;
}

/* Sidebar */
.sidebar-sep {
  padding: 16px;
  font-size: 14px;
  border-top: 1px solid #e0e0e0;
  color: #757575;
}
.sidebar-item {
  color: #757575;
  font-size: 16px;
}
.sidebar-item core-icon {
  margin-right: 24px
}


/* New Mail */
.new-mail {
  position: fixed;
  bottom: 23px;
  right: 30px;
}

[hide] {
  display: none;
}